venv/
.idea/
.ipynb_checkpoints/
.vscode/
__pycache__/
Img2Depth/*
Img2Depth/position_sensor_2.pth
!Img2Depth/img2depthforce.py 
Img2Depth/networks/*
!Img2Depth/networks/DenseNet.py 
!Img2Depth/networks/STForce.py 

Img2Depth/calib_idx/*
!Img2Depth/calib_idx/mask_idx_2.npy
!Img2Depth/calib_idx/mask_sen2.npy
!Img2Depth/calib_idx/pts_2ndmask_2_80deg.npy
!Img2Depth/calib_idx/pts_masked_2.npy


